*{
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    align-items: center;

    background-size: cover;
    background-color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
}

/* CSS FOR THE HEADER*/

div#header{
    height: 80px;
    width: 100%;

    display: flex;
    text-align: center;

    align-items: center;

    color: black;
    background-color: rgb(36, 102, 36);
}

div#logo{
    height: 100%;
    width: 15%;

    margin: auto 0;
    padding-left: 15px;

    display: flex;
    align-items: center;

}

header{
    height: 100%;
    width: 70%;

    display: flex;
    
    justify-content: center;
    
    align-items: center;
    text-align: center;

    font-weight: 900;
    font-size: 23pt;
}

div#right_top_header{
    height: 100%;
    width: 20%;

    display: none;
    align-items: center;
    justify-content: space-evenly;

    font-size: 15pt;
}

div#user_info{
    margin-right: 25px;
    font-weight: 800;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CSS FOR THE SHOP MENU*/

div#menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li#shop_chart{
    display: flex;
    align-items: center;

    height: 80px;
}

div#menu li ul{
    display: none
}

div#menu li:hover ul{
    display: block;

    position: absolute;
    top: 78px;

    z-index:1;

    color: black;
    background-color: rgb(36, 102, 36);
}

div#menu ul li ul{
    text-align: left;
    border-radius: 5px;
}

div#menu ul li ul li a{
    color: black;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}

div#menu ul li ul li:hover{
    background-color: rgb(28, 75, 17);
    border-radius: 5px;
}


div#initial_div, div#insert_username, div#game_rules, div#select_treeName, div#treeName_change_div, div#treeStat, div#buy_new_seed{
    position: absolute;
    z-index: 10;

    display: flex;
    align-items: center;
    flex-direction: column;

    top: 35%;
    left: 37.5%;
    width: 25%;
    border-radius: 10px;

    border: #664526 solid 2px;
    padding: 15px;

    background-color: white;

    font-size: 17pt;
    font-weight: 700;

}

/*CSS FOR THE DIVS USED FOR NEW USERS*/
div#initial_div, div#insert_username, div#game_rules, div#select_treeName{
    top: 80px;
    left: 0%;
    border: none;
    border-radius: 0px;

    height: 85%;
    width: 100%;

    display: none;

}

/*
div#insert_username, div#game_rules, div#select_treeName{
    display: none;
}
*/

h2, h3{
    margin-bottom: 0px;
}

p.space_parag{
    margin-top: 30px;
}

input#input_username, input#input_treeName{
    margin-top: 30px;
}

button#join, button#submit_username, button#okrules_clicked, button#start_play{
    max-width: max-content;
    cursor: pointer;
    margin-top: 30px;
}

/*CSS FOR THE DIV USED TO CHANGE THE NICKNAME OF THE PLANT*/

div#treeName_change_div, div#treeStat, div#buy_new_seed{
    display: none;
    z-index: 11;

    font-size: 12pt;
    font-weight: 700;
}


input#newTreeName{
    margin-top: 10px;
    margin-bottom: 10px;
}

button#submit_change_name, button#cancel_change_treeName{
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*CSS FOR THE STATS OF THE TREE*/

div#treeStat{
    padding: 0px;
}

div#stat_header{
    display: flex;
    align-items: center;
    place-content: space-between;

    width: 100%;
    height: 20%;

    padding: 0px 5px;

    border-bottom: solid black 2px;
    background-color: rgb(10, 192, 10);
    border-radius: 8px;
}

button#exit{
    display: inline;

    background-color: rgb(10, 192, 10);
    color: black;
    padding: 1px;
    margin: 0px;

    font-weight: 900;

    cursor: pointer;
}

div#tree_properties{
    width: 100%;
    height: 75%;

    padding: 5px;
    padding-bottom: 7px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


label.stat{
    margin-left: 8px;
    font-size: 12pt;
}

/* CSS FOR THE DIV IN WHICH WE BUY A NEW SEED*/
div#buy_new_seed{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 25%;
}

img#eth_logo{
    width: 10px;
    height: 15px;
}

input#name_newSeed{
    margin-bottom: 10px;
}

div.buttons_option{
    display: flex;
}

div.buttons_option button{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;

    width: 100px;
}

img#seed_to_buy{
    width: 80px;
    height: 110px;

    margin: 10px 5px;
}

/* CSS FOR THE BODY OF THE PAGE*/

div#complete_body{
    height: 70%;
    width: 100%;
    
    display: none;
    align-items: center;
    justify-content: center;
}

/* CSS FOR THE LEFT BODY OF THE PAGE*/
div#left_div{
    width: 20%;
    height: 100%;

    margin-right: 2.5%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

div#counter{
    margin-top: 30px;
    font-size: 35pt;
    font-weight: 800;
}

div.counter-value{
    padding: 3px;

    color: rgb(19, 179, 54);
}

button#find_out{
    
    display: none;
    cursor: pointer;

    margin-top: 100px;
}


/* CSS FOR THE MIDDLE BODY OF THE PAGE*/
div#middle_div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    width: 50%;
    height: 100%;
    margin-top: 7.5%;
}

div#tree_body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

div#left_arrow, div#right_arrow{
    width: 10%;
}

img.arrow{
    max-width: 50%;
    max-height: 50%;
    border-radius: none;

    cursor: not-allowed;
    opacity: 0.55;
}

div#treeCard{
    height: 100%;
    width: 70%;

    background-color: rosybrown;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

div#top{
    height: 10%;
    width: 100%;

    padding: 4px;

    display: none;
    justify-content: center;
    align-items: center;
}

span.info_row{
    align-items: center;
    margin-left: auto;
}

img#sell_tree{
    display: none;
    margin-left: 10px;
    cursor: pointer;
}

button#change_name{
    background-color: grey;
    color: black;
    cursor: pointer;
    margin: 0px;
    margin-left: 1px;
    font-size: 10pt;
    padding: 0px;
    border-radius: 5px;
    display: inline;
}

label#treeName{
    font-weight: 600;
}

label#info{    
    border-radius: 5px;
    border: 3px black solid;
    padding: 1px 3px;
    
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

div#center{
    width: 100%;
    height: 60%;
}

div#tree{
    border-radius: 20px;
    height: 100%;
    width: 100%;

    background-image: url(img/seed.gif);
    background-size: contain;                 
    background-repeat: no-repeat;
    background-position: center center; 
}

div#bottom{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10%;
    width: 100%;

    margin-top: 10px;
}

button.down-button{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

    padding: 7px 15px;


    background-color: #664526;

    cursor: not-allowed;

    font-size: 80%;
}

button#water{
    color: #2389da;
}

button#sun{
    color: #f9d71c;
}


div#counting_tree{
    width: 100%;
    height: 5%;

    display: none;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
    font-size: 15pt;
    font-weight: 700;
}

/* CSS FOR THE RIGHT BODY OF THE PAGE*/
div#right_div{
    width: 20%;
    height: 100%;

    font-weight: 600;
    font-size: 20pt;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 2.5%;

}

img#king{
    width: 150px;
    height: 150px;
}

div#first_row{
    height: 10%;

    border: none;
    font-weight: bold;

    padding: 5px;

    text-align: center;
}

div#podium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;

    margin-top: 30px;
}

label.podium{
    color: black;
    margin-bottom: 10px;
    border-bottom: 2px solid black;

    max-width: 500px;

    margin-bottom: 5px;
}

label.podium img{
    max-width: 20pt;
}

label#first{
    font-size: 22pt;
    color: #ffd700;
}

label#second{
    color: #c0c0c0;
}

label#third{
    color: #CD7F32;
}

p{
    margin: 0;
}

button{
    display: block;
    margin-top: 10px;
    padding: 20px;

    cursor: not-allowed;

    font-size: 12pt;
    font-weight: bolder;

    border-radius: 15px;
    border: none;

    background-color: rgb(28, 75, 17);
    color: white;
}


div#div_table{
    margin: 20px auto;
}

th, td{
    border: 1px solid black;
}

td{
    text-align: center;
}

td.border_width{
    border-width: 4px;
}

td#number{
    border: 0px;
}